* {
    margin : 0;
    padding : 0;
    text-align:center ;

}

h1{
    background-color: #211103;
    color :aliceblue;
}
body {
    background-image: url("images\background.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
   }